main{
    min-height:90vh;
}

nav > div, footer > div{
    max-width: 1440px;
}

.img-10{
    height:10rem;
    width:10rem;
    margin:0;
}

.img-16{
    width:16rem;
    height:16rem;
    margin:0;
}

@media(max-width:768px){
    .img-16, .img-10{
        width:100%;
        height:auto;
    }
    
    h4{
        font-size:1.15rem;
    }
    
    .card-title{
        font-size: 1rem;
    }

    .card-text, footer{
        font-size: 0.75rem;
    }
}