{% extends "layout.html" %} 

{% block title %}
   {{current_user.name}}'s Cart
{% endblock %}

{% block content %} 
<main class="container mt-5 mb-2">
    <br>
    <h2 class='text-center'>{{current_user.name}}'s Cart</h2>
    <hr>
    <div class='row align-items-center'>
        <div class="col-md-6">
            <div>
            {% if orders.count()== 0 %}
                <h2 class='alert-heading'>There are no orders!</h2>
            {% endif %}
            {% for order in orders %} 
                <div class="card text-center text-md-start mb-2">
                    <div class="row g-0 justify-content-center justify-content-md-start m-3">
                        <img src="{{order.product.image_url}}" alt="{{order.product.name}}" class='img-10 col-md-6'>
                        <div class='card-body col-md-6'>
                            <h4 class="card-text">{{order.product.name}}</h4>
                            <p class="card-text">Price: {{order.product.price}}</p>
                            <p class='btn-group'>
                                <a href="{{url_for('cart.decrement_product_quantity', user_id = current_user.id, product_id = order.product.id)}}" class='btn btn-light'>-</a>
                                <span class='btn btn-light'>{{order.quantity}}</span>
                                <a href="{{url_for('cart.increment_product_quantity', user_id = current_user.id, product_id = order.product.id)}}" class='btn btn-light {% if order.product.stock <= 0 %} disabled {% endif %}'>+</a>
                            </p>
                            <a href="{{url_for('cart.delete_from_cart', user_id=current_user.id, product_id=order.product.id)}}" class='btn btn-danger'>X</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        {% if orders.count() !=0 %}
        <div class="card col-md-6">
            <div class="card-body">
                <h5 class="card-title">Cart Summary</h5>
                <p class="card-text">Total Price ({{orders | get_order_count}}): {{orders | get_current_sum}}</p>
                <hr>
                <div class="flex">
                    <a href="{{url_for('transaction.checkout', user_id=current_user.id)}}" class = 'btn btn-primary'>Checkout</a>
                    <a href="{{url_for('cart.clear_cart', user_id=current_user.id)}}" class='btn btn-danger'>Clear</a>
                </div>
            </div>
        </div>  
        {% endif %}
    </div> 
</main>
{% endblock %}
