{% extends "layout.html" %}

{% block title %}
    {% if purpose == 'login' %}
        Login
    {% else %}
        Register
    {% endif %} 
{% endblock %}

{% block icon %}
    <link rel="icon" type="image/x-icon" href="https://twemoji.maxcdn.com/2/svg/1f3ab.svg">
{% endblock %}

{% block content %}
<main class ='container mt-5 mb-3 p-5'>
    <div class="row mb-0">
        <div class="col">
            <h1>
                {% if purpose == 'login' %}
                    Log in to your account 
                {% else %}
                    Register an account
                {% endif %} 
            </h1>
            <h6>
                {% if purpose == 'login' %}
                    Don't
                {% else %}
                    Already
                {% endif %}
                have an Account? 
                <a href="{% if purpose == 'login' %} {{url_for('auth.register')}} {% else %} {{url_for('auth.login')}} {% endif %}" class='text-decoration-none link-primary'>
                    {% if purpose == 'login' %}
                    Register
                    {% else %}
                    Login
                    {% endif %} 
                </a>
            </h6>
            {% with messages = get_flashed_messages() %}
                {% if messages: %}
                    <p class='{% if "completed" in messages[0] %} text-success {% else %} text-danger {% endif %}'>{{messages[0]}}</p>
                {% endif %}
            {% endwith %}     
        </div>
    </div>
    <div class='row mb-0'>
        <form action="{% if purpose == 'login' %} {{url_for('auth.login')}} {% else %} {{url_for('auth.register')}} {% endif %}" method="post" class="mb-0">
            {{form.csrf_token}}
            <div class="form-group mb-2">
                <label class="control-label">{{form.email.label}}</label>
                {{form.email(class="form-control")}}
            </div>
            <div class="form-group mb-2">
                <label class="control-label">{{form.password.label}}</label>
                {{form.password(class="form-control")}}
            </div>
            {% if purpose == 'register' %} 
                <div class="form-group mb-2">
                    <label class="control-label">{{form.name.label}}</label>
                    {{form.name(class="form-control")}}
                </div>
                <div class="form-group mb-2">
                    <label class="control-label">{{form.dob.label}}</label>
                    {{form.dob(class="form-control")}}
                </div>
            {% endif %}
            <br>
            {{form.submit(class='btn btn-primary mb-0 float-md-end')}}
        </form>
    </div>
</main>
{% endblock %}
