<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Online Shop Application that uses Flask as the Backend Framework by Matthew Adrianus Mulyono">
    <meta name="author" content="Matthew Adrianus Mulyono">
    <meta name="robots" content="index, nofollow">
    <title>{% block title %}{% endblock %} | Shoplexify by Matthew1906</title>
    {% block icon %}{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    {% block styles %}{% endblock %}
</head>
<body class="vh-100 w-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('views.home')}}">Shoplexify</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse my-2 my-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{url_for('views.get_by_category', id=1)}}">Automotive</a></li>
                        <li><a class="dropdown-item" href="{{url_for('views.get_by_category', id=2)}}">Arts and Crafts</a></li>
                        <li><a class="dropdown-item" href="{{url_for('views.get_by_category', id=3)}}">Books</a></li>
                        <li><a class="dropdown-item" href="{{url_for('views.get_by_category', id=4)}}">Clothing</a></li>
                        <li><a class="dropdown-item" href="{{url_for('views.get_by_category', id=5)}}">Electronics</a></li>
                        <li><a class="dropdown-item" href="{{url_for('views.get_by_category', id=6)}}">Food & Beverages</a></li>
                        <li><a class="dropdown-item" href="{{url_for('views.get_by_category', id=7)}}">Health & Beauty</a></li>
                        <li><a class="dropdown-item" href="{{url_for('views.get_by_category', id=8)}}">Home & Garden</a></li>
                        <li><a class="dropdown-item" href="{{url_for('views.get_by_category', id=9)}}">Office</a></li>
                        <li><a class="dropdown-item" href="{{url_for('views.get_by_category', id=10)}}">Sports & Outdoor Activities</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex mx-auto my-2 my-lg-0" action='{{url_for("views.search_product")}}' method='GET'>
                <input class="form-control me-2" name='search' type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Browse</button>
                {% if current_user.is_authenticated %}
                    <a href='{{url_for("cart.get_cart", user_id = current_user.id)}}' class='mx-1 btn btn-outline-light'><i class="fas fa-shopping-cart"></i></a>
                {% else %}
                    <a href='{{url_for("auth.login", prompt=True)}}' class='mx-1 btn btn-outline-light' onclick='loginFirst()'><i class="fas fa-shopping-cart"></i></a>
                {% endif %}
            </form>
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('auth.register')}}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('auth.login')}}">Login</a>
                </li>
                {% else %}
                <div class="d-flex gap-2 gap-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="notificationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-bell fs-4"></i>
                            <span class="px-2 py-1 bg-danger rounded-circle fw-bold text-white text-center align-middle">{{current_user | num_of_notifications}}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
                            {% for notification in current_user | all_notifications %}
                            <li class="px-3 py-1 notification-list">
                                {{notification | format_notification | safe }} 
                                <a href="{{url_for('transaction.get_transaction_history', user_id=current_user.id, transaction_id=notification.id)}}" class="fas fa-arrow-circle-right text-decoration-none"></a>
                            </li>
                            {% endfor %}
                            {% if current_user | num_of_notifications == 0 %}
                            <li class="px-3 py-1 notification-list">
                                No notifications!!
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{current_user.name}}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                            {% if current_user.id != 1 %}
                            <li class="nav-item">
                                <a class="dropdown-item" href="{{url_for('transaction.get_all_transactions', user_id=current_user.id)}}">History</a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="dropdown-item" href="{{url_for('auth.logout')}}">Logout</a>
                            </li>
                        </ul>
                    </li>
                </div>
                {% endif %}
            </ul>
          </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <footer class="bg-dark text-light p-3">
        <div class="mx-auto mb-2 d-flex flex-column flex-md-row align-items-center align-items-md-start justify-content-md-around">
            <ul class="list-unstyled text-start">
                <strong>Customer Service</strong>
                <li>Open 24 hours a day</li>
                <li><a href="tel:+6287777267930" class='text-decoration-none link-light'><i class="fab fa-whatsapp"></i> +6287777267930</a></li>
                <li><a href="mailto:matthewadrianus@gmail.com" class='text-decoration-none link-light'><i class="far fa-envelope"></i> shoplexify@mail.id</a></li>
            </ul>
            <ul class="list-unstyled text-start">
                <strong>About Shoplexify</strong>
                <li><a href="#" class='text-decoration-none link-light'>Usage Rules</a></li>
                <li><a href="#" class='text-decoration-none link-light'>Privacy & Refund Policy</a></li>
                <li><a href="#" class='text-decoration-none link-light'>Buyer Testimonials</a></li>
            </ul>
            <ul class="list-unstyled text-start">
                <strong>Buyer</strong>
                <li><a href="#" class='text-decoration-none link-light'>Shoplexify Tutorial 101</a></li>
                <li><a href="#" class='text-decoration-none link-light'>Delivery Methods</a></li>
                <li><a href="#" class='text-decoration-none link-light'>Payment Methods</a></li>
            </ul>
            <ul class="list-unstyled text-start">
                <strong>Follow the Developer!</strong>
                <li class="fs-1">
                    <a href="https://github.com/Matthew1906" class='link-light'><i class="fab fa-github-square"></i></a>
                    <a href="https://www.instagram.com/matthew_adrianus/" class='link-light'><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/matthewadrianusm/" class='link-light'><i class="fab fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
        <p class="mb-0 text-center fst-italic">Copyright &copy; Matthew1906's Online Shop Project 2021 </p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>
