{% extends "layout.html" %} 

{% block title %}
    {% if purpose == 'add' %}   
        Add Product
    {% elif purpose == 'update' %} 
        Update Product
    {% else %}
        {{product.name}}
    {% endif %}
{% endblock %}

{% block icon %}
    <link rel="icon" type="image/x-icon" href="https://twemoji.maxcdn.com/2/svg/1f4e6.svg">
{% endblock %}

{% block content %} 
<main class="container mt-5 mb-3">
    <div class="row p-5">
        {% if purpose == 'update' %} 
            <h2 class='text-center'>Update Product</h1>
        {% endif %}
        <div class="{% if purpose=='update' %}col-md-6{% else %}col{% endif %}">
        {% if purpose != 'add' %}
            <div class="{% if purpose=='get' %}d-flex flex-column flex-md-row gap-4{% endif %}">   
            {% if purpose == 'get' %}    
                <img src="{{product.image_url}}" alt="{{product.name}}">
            {% endif %}
                <div class='card'>
                    {% if purpose == 'update' %} 
                        <div class="text-center">
                            <h4 class="card-header">{{product.name}}</h4> 
                            <img src="{{product.image_url}}" alt="{{product.name}}" class='img-16'>
                        </div>
                    {% else %} 
                        <h1 class="card-header">{{product.name}}</h1>
                    {% endif %}
                    <div class="card-body mt-2">
                        <p class="card-text">{{product.description.strip().capitalize()}}</p>
                        <p class="card-text">{{product.reviews | get_average_rating}} ({{product.reviews | get_number_of_reviews}}) </p>
                        <p class="card-text">Category: {{product.categories | refactor_categories}}</p>
                        <p class="card-text">Price: {{product.price | format_currency }}</p>
                        {% if product.stock>0 %} 
                            <p class="card-text">In Stock: {{product.stock}}</p>
                            {% if current_user.id != 1 %}
                            <form id = 'cart_form' action="{% if current_user.is_authenticated %}{{url_for('cart.add_to_cart', user_id=current_user.id, product_id=product.id)}}{% else %}{{url_for('auth.login', prompt=True)}}{% endif %}" method="post">
                                {{cart_form.csrf_token}} 
                                {{cart_form.count(class='mx-2')}}
                                <button type = 'submit' class = 'btn btn-primary' onclick="{% if current_user.is_authenticated %}addedToCart();{% endif %}">Add to Cart</button>
                            </form>
                            {% endif %}
                        {% else %}
                            <button class='btn btn-danger'>SOLD OUT!!</button>
                        {% endif %}
                    {% if purpose == 'get' and current_user.id == 1 %}
                        <a href="{{url_for('product_manager.update_product', id=product.id)}}" class='btn btn-info'>Update Product</a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
            {% if purpose == 'get' %}
            <div class="row mt-5 mt-md-3">
                <div class = 'col'>
                    {% if product.reviews != [] %}
                    <h4>Reviews: </h4>
                    <hr>
                    {% for review in product.reviews %} 
                        <p>{{review.rating | get_stars }}, "{{review.review}}" - {{review.user.name}}</p>
                    {% endfor %}
                    <hr>
                    {% endif %}
                </div>
            </div>
            {% if current_user.is_authenticated and current_user.id !=1 and valid_review %} 
            <div class="row mt-1">
                <div class="col">   
                    <h4>Add Review</h4> 
                    <form action="{{url_for('product_manager.get_product', id=product.id)}}" method="post" novalidate class='col'>
                        {{review_form.csrf_token}}
                        <div class="form-group mb-2">
                            <label class="control-label mb-1">{{review_form.rating.label}}</label>
                            {{review_form.rating(class="form-control")}}
                        </div>
                        <div class="form-group mb-2">
                            <label class="control-label mb-1">{{review_form.body.label}}</label>
                            {{review_form.body(class="form-control")}}
                        </div>  
                        <br>
                        {{review_form.submit(class='btn btn-primary float-end')}}
                    </form>
                </div>
            </div>
            {% endif %}
            {% endif %}
        {% endif %}
        {% if purpose != 'get' %} 
        <form action="{% if purpose == 'add' %}{{url_for('product_manager.add_product')}}{% else %}{{url_for('product_manager.update_product', id=product.id)}}{% endif %}" method="post" novalidate class='col pb-3'>
            {{form.csrf_token}}
            <h2>
                {% if purpose == 'add' %}
                    Add Product
                {% endif %}
            </h2>
            <div class="form-group mb-2">
                <label class="control-label mb-1">{{form.name.label}}</label>
                {{form.name(class="form-control")}}
            </div>
            <div class="form-group mb-2">
                <label class="control-label mb-1">{{form.description.label}}</label>
                {{form.description(class="form-control")}}
            </div>
            <div class="form-group mb-2">
                <label class="control-label mb-1">{{form.image_url.label}}</label>
                {{form.image_url(class="form-control")}}
            </div>
            <div class="form-group mb-2">
                <label class="control-label mb-1">{{form.price.label}}</label>
                {{form.price(class="form-control")}}
            </div>
            <div class="form-group mb-2">
                <label class="control-label mb-1">{{form.stock.label}}</label>
                {{form.stock(class="form-control")}}
            </div>
            <div class="form-group mb-2">
                <label class="control-label mb-1">{{form.categories.label}}</label>
                {{form.categories(class="form-control")}}
            </div>
            <br>
            {{form.submit(class='btn btn-primary')}}
        </form>
        {% endif %}
    </div>
</main>
{% endblock %}
